<body>
    <!-- Modal Body-->
    <div class="modal fade" id="logins" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background: darkslategrey;">
                    <div class="modal-header">
                            <h5 class="modal-title" id="modalTitleId">Logins</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form action="#" class="was-validated">
                            <div class="mb-3">
                                <label for="" class="form-label">Username or Email</label>
                                <input type="text email" name="" id="" class="form-control" placeholder="Enter your name" aria-describedby="helpId" required>
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">Please fill out this field</div>
                              </div>
                              <div class="mb-3">
                                <label for="" class="form-label">Password</label>
                                <input type="password" name="" id="" class="form-control" placeholder="Enter your password" aria-describedby="helpId" required>
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">Please fill out this field</div>
                              </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success">Login</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    <!-- Modal Body-->
    <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: darkslategrey;">
                    <div class="modal-header">
                            <h5 class="modal-title" id="modalTitleId">Signin</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form action="#" class="was-validated">
                            <div class="mb-3">
                              <label for="" class="form-label">Name</label>
                              <input type="text" name="" id="" class="form-control" placeholder="Enter your name" aria-describedby="helpId" required>
                              <div class="valid-feedback">Valid</div>
                              <div class="invalid-feedback">Please fill out this field</div>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Email</label>
                                <input type="text" name="" id="" class="form-control" placeholder="Enter your Email" aria-describedby="helpId" required>
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">Please fill out this field</div>
                              </div>
                              <div class="mb-3">
                                <label for="" class="form-label">Password</label>
                                <input type="password" name="" id="" class="form-control" placeholder="Enter your new password" aria-describedby="helpId" required>
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">Please fill out this field</div>
                              </div>
                              <div class="mb-3">
                                <label for="" class="form-label">Confirm password</label>
                                <input type="password" name="" id="" class="form-control" placeholder="Confirm your password" aria-describedby="helpId" required>
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">Please fill out this field</div>
                              </div>
                
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
      <nav class=" tab2 navbar navbar-expand-sm navbar-light">
          <div class="container">
            <a class="navbar-brand" href="#"><img src="images/SnapTube Image/AF.jpg"></a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="about" aria-current="page" style="color: white;">About<span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tshirt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Jeans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shoes</a>
                    </li>
                   
                </ul>
            
            </div>
        </div>
      </nav>

      <div class="p-5 mb-4  hero_image">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">GaMich</h1>
          <p class="col-md-8 fs-4">We understand the the importance of quality in what we wear thats why we invest in alot in our processing machine
            You can join us so usto inform you about our new products by signin to our news letter
          </p>

          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-outline-success btn-lg px-4  mb-md-2" data-bs-toggle="modal" data-bs-target="#modalId">Signin</button>
            <button class="btn btn-outline-success btn-lg  px-4 mb-md-2" data-bs-toggle="modal" data-bs-target="#logins" >Login<span class="badge bg-primary"></span></button>
          </div>
        </div>
 </div>  

 <div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <h1 class="fw-bolder"> Why choose Gamitch?</h1>
            <button class="btn btn-outline-success btn-md py-3" style="border-radius: 30px;">Learn more about GaMitch</button>
         </div>
        <div class="col-md-6 col-lg-4 About_category">
            <hr>
            <i class="fas fa-person"></i>
            <h3 class="fw-bolder py-3 ">More Exprience</h3>
            <p>Millions of customers we serve every year prepares us to be familiar with their needs</p>
        </div>
        <div class="col-md-6 col-lg-4 About_category">
            <hr>
            <i class="fas fa-car"></i>
            <h3 class="fw-bolder py-3">Delivery</h3>
            <p>We have a vast network of branches that are commited to serve you</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
         </div>
        <div class="col-md-6 col-lg-4 About_category">
            <hr>
            <i class="fas fa-person"></i>
            <h3 class="fw-bolder py-3 ">More Exprience</h3>
            <p>Millions of customers we serve every year prepares us to be familiar with their needs</p>
        </div>
        <div class="col-md-6 col-lg-4 About_category">
            <hr>
            <i class="fas fa-car"></i>
            <h3 class="fw-bolder py-3">Delivery</h3>
            <p>We have a vast network of branches that are commited to serve you</p>
        </div>
    </div>
 </div>
      <!-- categories of our products -->
      <hr>
<section>
    <div class="d-flex mt-3 px-3">
        <h1 class="fw-bolder  display-5">Categories</h1>
    <a href="/categories" class="ms-auto">View More</a>
    </div>
</section>

    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 mt-3">

        <% if(products != ''){%>
            <% products.forEach(function(category,index){%>
        <a href="/categories/<%- category.Name %>" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="/images/<%- category.Image %>" class="rounded" alt="<%-category.Name%>" loading="lazy">
            </div>
            <div class="pt-1"><%- category.Name %></div>
        </a>
        <%})%>
       <%}%>
    </div>
    <!-- section of the latest stock -->
    <section class="pb-5 mt-5">
        <div class="d-flex mt-5 mb-5 px-2">
            <h3 class="display-6 fw-bold">latest stock</h3>
            <a href="#vieww more" class="ms-auto">View More</a>
        </div>
    </section>
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 pb-5 pt-0">
        <% if(productObject.latest != ''){%>
            <%productObject.latest.forEach(function(products,Index){%>
                <a href="/about/<%-products._id%>" class="col text-center category_link">
                    <div class="category_img  category_img--lg shadow">
                        <img src="/images/<%-products.Image%>" alt="<%-products.Name %>" loading="lazy">
                    </div>
                    <div class="pt-1"><%-products.Name %></div>
                    <i class="btn btn-outline-success"><%- products.Price %></i>
                    <i class="btn btn-outline-success">Add to cart</i>
                </a>
    
            <%})%>
    
        <%}%>
    </div>
 <footer>
    <hr>
    <p class="text-center fw-bolder ">created by Timothy Joseph</p>
 </footer>

 
</body>